.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
}


.logo-navbar {
  justify-content: center;
  text-align: center;
  background-color: #181863;
  position: fixed;
  opacity: 1;
  
}
.logo-mk {
  justify-content: center;
  text-align: center;
  margin-bottom: 4em;
  margin-top: -3em;
}

.hero {
  position: sticky;
}

.sticky {
  position: fixed;
  // z-index: -1;
  width: 100%;
}


#content {
  position: absolute;
  margin-top: 90vh;
  width: 100%;
}

.sh-navbar {
  position: fixed;
  z-index: -1;
  justify-content: center;
  width: 100%;
  transition:ease-out 5s;
  animation: ease-out 5s;
}

.hidden {
  display: none;
  -webkit-animation: 1.5s cubic-bezier(0.2, 1, 0.22, 1) 0s normal none 2 running fadeInDown;
  animation: 1.5s cubic-bezier(0.2, 1, 0.22, 1) 0s normal none 2 running fadeInDown;
}


/* Nav */
.nav {
  top: 0;
  position: relative;
  z-index: 10;
}

.hero-bg {
  background-size: cover;
  background-repeat: no-repeat;
  // padding-top: 5%;
  height: 100vh;
  width: 100;
  position: absolute;
  z-index: -10;
}


/* Banner */
.banner-id {
  position: relative;
  // background: url('./assets/banner.svg') no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  // padding-top: 15%;
  height: 100vh;
  width: 100%;

  .banner{
    padding-top: 10%;
  }

  .banner-left {
      
      color: white;
      text-align: center;
      margin-top: 10%;
      @media (min-width: 768px) {
          left: 0em;
      }
      @media (min-width: 1024px) {
          left: -5em;
      }
      @media (min-width: 1440px) {
          left: -10em;
      }
  }
  .banner-right {
      @media (min-width: 768px) {
          left: 3em;
      }
      @media (min-width: 1024px) {
          left: 5em;
      }
      @media (min-width: 1440px) {
          left: 3em;
      }
  }
  

  h2 {
      letter-spacing: .3em;
      
      font-weight: bold;
      @media (min-width: 768px) {
          font-size: 2em;
      }
      @media (min-width: 1024px) {
          font-size: 4em;
      }
  }

  p {
      letter-spacing: .2em;
      font-size: 1em;
  }

  .ban-img{
      
      width: 35em;
      @media (min-width: 768px) {
          width: 18em;
          right: 0em;
      }
      @media (min-width: 1024px) {
          width: 25em;
          right: 0em;
      }
      @media (min-width: 1440px) {
          width: 30em;
      }
  }
}


/* Content */

#content{
  .card{
      border: none;
      border-radius: 35px;
  }
  .search{
      padding: 10% 20% 10% 20%;

      input{
          border-radius: 25px;
      }
      .btn-search{
          background-color: #181863;
          padding: 10px 25px;
          border: none;
          border-radius: 25px;
      }
  }

  .table{
      table{
          width: 90%;
          margin: auto auto;
      }
  }
}

.table-container{
  padding-bottom: 10%;
  padding-left: 3%;
  padding-right: 3%;
}
.table-cell{
  text-align: center;
  justify-content: center;
}




